.loginImage {
    background-color: #fdfdfd; 
    display:flex;
    margin: auto;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
    width: 105%;
}

.Login {
    background-color: #fdfdfd;  
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 105%;
    font-size: 24px;
}

.ButtonIniciar {
    background-color: #178435; 
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 362px;
    height: 49;
    border-radius: 35px;
    font-size: 40px;
    font: Monserrat;
}