
.form {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginImage {
    background-position: center;
    display:flex;
    justify-content: center;
    align-items:center;
    left: 434px; 
    top: 44px;
}

.label {
    background-position: center;
    justify-content: center;
    padding: 20px;
    border: 2px;
    width: 77px;
    height: 33px;
    left: 572px;
    font-size: 24px;
}

.inputArea {
    justify-content: center;
    width: 604px;
    margin: 9px;
    outline: none;
    border: none;
    height: 2rem;
    background: transparent;
    padding: 20px;
    border-bottom: 2px solid rgb(189, 187, 187);
}

  .ButtonIniciar {
    background-position: center;
    width: 251px;
    height: 69px;
    border-radius: 28px;
    background: var(--2, #178435);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    margin: 20px;
}

